
body {
	background-color: linen;
	text-align: center;
}
h1 {
	color: brown;
}
h2 {
	color: maroon;
} 
a {
	color: blue;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	background-color: black;
}
h2 {
	color: maroon;
}
ul {
	color: maroon;
}
li {
	text-align: left;
}

table, th, td {
	background-color: black
}

th, td {
	font-style: italic;
}


