
body {
	background-color: linen;
	text-align: center;
}
h1 {
	color: brown;
}
h2 {
	color: maroon;
}
img.displayed {
	display: block;
	margin-left: auto;
	margin-right: auto; 
}
a {
	color: blue;
}
h2 {
	color: maroon;
}
ul {
	color: maroon;
}
caption {
	font-weight: bold;
}
@font-face {
		font-family: myFirstFont;
		src: url(BioRhyme-Regular.ttf);
}
h1, h2 {
		font-family: myFirstFont;
}
