
body {
	background-color: linen;
}
h1 {
	color: brown;
	margin-left: 350px;
	margin-right: 350px;
}
h2 {
	color: maroon;
	margin-left: 350px;
	margin-right: 350px;
}
img.displayed {
	display: block;
	margin-left: auto;
	margin-right: auto; 
}
a {
	color: blue;
	margin-left: 350px;
	margin-right: 350px;
}
h2 {
	color: maroon;
	margin-left: 350px;
	margin-right: 350px;
}
ul {
	color: maroon;
	margin-left: 350px;
	margin-right: 350px;

}


<a href=“#” style="color: #555; background: #ffc;"