
body {
    text-align: center;
}

h1 {
    color: black;
    font-weight: bold;
    text-align: center;
}

h2 {
    color: black;
    font-weight: bold;
    text-align: center;
}
#header, #footer {
  background-color: white;      
  text-align: center;
}

@font-face {
    font-family: myFirstFont;
    src: url(BioRhyme-Regular.ttf);
}

h1 {
  font-family: myFirstFont;
}
a {
  font-family: monospace;
  text-decoration: underline;
  font-weight: none;
}

a:visited {
  color: black;
} 

a:hover {
  font-weight: bold;
}

a:active {
  text-decoration: none;
}

