html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}
body {
  text-align: center
  font-size:  14px;
     margin:  5px 15px 5px 15px;
  padding:  0;
}


@font-face {
    font-family: myFirstFont;
    src: url(BioRhyme-Regular.ttf);
}

h1 {
    color: black;
    font-weight: bold;
    text-align: center;
    font-family: myFirstFont;
}

h2 {
    color: black;
    font-weight: bold;
    text-align: center;
}
#header, #footer {
  background-color: white;      
  text-align: center;
}






